# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Angular
.angular
.angular/cache
.angular/cli
.angular/compiler

# TypeScript
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Compiled JavaScript
dist/
build/
out-tsc/

# Miscellaneous
.DS_Store
Thumbs.db